.footer {
  flex-shrink: 0;
  background: var(--hemocyanin);
  padding: 28px 16px 32px;
  box-sizing: border-box;
}

.footer p {
  width: 100%;
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
  color: var(--purpleHaze);
}
