.productImageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.productImage {
  object-fit: contain;
}

.hidden {
  visibility: hidden;
}
